<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/src/assets/home .css">
</head>
<body>
  <div class="container">
    <h1>Mis Posts</h1>
    <button onclick="location.href='post-form.html'">Crear Nuevo Post</button>
    <div id="posts-container">
      <!-- Los posts se cargarán aquí mediante JavaScript -->
    </div>
  </div>
  <script src="/src/main.ts"></script>
</body>
</html>
